* {
    margin : 0;
    padding : 0 ;
}
html {
    scroll-padding-top: 20dvh;
  }
a { 
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline !important;
}

body {
     overflow-x : hidden
     
}
.txt {
    font-size: 1.5em;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}



section {
    height: 100vh ;
    width: 100%;
}

.headery {
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4em ;
    position : fixed ;
    width : 100% ;
    background : linear-gradient(var(--ter-background-color),var(--contrast-color)) ;
    height : 2.4em;
    box-shadow: 5px 0px 9px 14px var(--ter-background-color);
    
}

.linkResaux {
    width : auto;
    display : flex;
    justify-content: flex-end;
}

.linkResaux a {
    margin : 0;
    padding : 0;
}




.headery a {
    margin : 0 2em ;
    color: var(--police-color-light);
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    font-size: 1.7em;
    text-decoration: none;
}

.nav {
    margin-right: 20%;
}

.logoResaux {
    margin : 0 0.5em;
    height:50px;
    width : 50px;
    transition : transform 0.4s
}

.logoResaux:hover {
    transform: scale(1.5);
}

.yellowTheme {
    background: linear-gradient(var(--main-background-color) 25%,var(--sub-background-color) 60%,var(--ter-background-color));
    color:var(--contrast-color);

}

.landing_container{
    display:flex ;
    overflow-x: hidden ;
    margin-left: 2%;    
}

.txt_container {
    overflow: visible;
    margin-left : 1em;
    margin-top: 5em ;
    font-family: 'Aloja-Light';
    font-optical-sizing: auto;
}

.img_container{
    margin-top : 4em ;
}

h1 {
    font-size: 15em;
    font-weight: normal;
    font-family: 'foxlight';
    margin : 5%
}

h2 {
    font-family: "foxlight";
    text-align: center;
    font-weight: normal;
    font-size : 3em ;

}


/* .div1 h2 {
    margin-left : 10em ;
    margin-bottom : 2em ;
    font-size : 2em ;
    overflow : visible ;
    white-space: nowrap;
}

.div2 h2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 3em;
} */

#me {
    height: 65%;
    width: auto;
    margin-top : 5em ;
    margin-right : 2.5em ;
    margin-left : 5em ; 
    border-radius: 30% ;
    box-shadow : var(--darkest-color) 4em 2em 1em 0px;
    transition : opacity 0.4s ease-in-out ; margin-
}

.div2 {
    padding-bottom: 50dvh;
}
.contenu_a_propos {
    margin-top : 10em ;
    line-height: 4em;
    margin-left: 2em;
    margin-right: 1em;
}
.activities {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    flex-wrap: nowrap;
    margin : 30px

}
.passions {
    display : flex ;
    flex-direction: column;
    align-items : center ;
    justify-content: center;
    text-align: center;
    margin : 3em ;
    flex-wrap: nowrap;
    width: 20dvh;



}


.passions img{
    height: 200px ;
    width: 200px ;
    border-radius: 50%;
    object-fit:cover;
    padding : 2em



}

.txt_under_img {
    text-align: center;
    width: 25dvw
}

.ltxt {
    font-size: 1em ;
    font-family: 'Zain';
    color : var(--secondary)
}

.txt_above_img h2 {
    font-size: 2 em;
    text-align: center;
    bottom : 100% ;
    margin-left : 40% ;
    color : var(--police-color)

}

.div3 {
    display : flex ;
    flex-direction: column;
    align-items: center;
}

.display_button {
    width: 100dvw;
}

.ma_stack, .mes_outils, .mes_skills, .CV {
    display : flex ;
    position: relative ;
    flex-direction : column ;
    align-items: center;
    margin-top : 5% ;
    text-align: center ;
     /* background-color: gold;  */
}

.stack_img {
    display : flex ;
   justify-content: space-evenly;
   /* background-color: aqua; */
   width: 100%;

}

#pourlinstant {

    display : flex ;
   justify-content: space-evenly;
   width: 100%;

}

#pourlinstant  img {
    height: 200px ;
    max-width: 200px ;
    padding : 1em ;
    /* background-color: chartreuse; */

}

/* text commentaire stack */
#txt_js {
 z-index: 200;
}

.stack_txt{
    padding : 2em ;
    /* margin-left: 120% ; */
    width : 100dvh ;
    text-align: center ;
    font-size: 1.5em;
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    color : var(--police-color) ;
    
}

.stack_txt h2 {
    color : var(--police-color)
}

.div3 .stack_img img {
    height: 150px ;
    max-width: 150px ;
    padding : 1em ;
    /* background-color: chartreuse; */

}

.button_list {
    display: flex;
    margin-top: 15%;
    width: 90dvw ;
    /* background-color: magenta; */
}



button {
    font-family: "Aloja-Light";
}

.button_list button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--police-color-light);
    font-size: 22px;
    border-radius: 20px;
    width: 15em;
    height: 4em;
    margin-left : auto ;
    margin-right : auto ;
    transition: 0.3s;
    background: linear-gradient(var(--ter-background-color),var(--contrast-color));
    margin-bottom : 3em
  }

  .button_list button:hover {
    cursor:pointer;
    border-bottom-width: 0;
    animation : 1.3s ease-in-out  infinite alternate pickme

  }

  @keyframes pickme {
    from { transform : translateY(-10px)}
    to {transform : translateY(10px)}
  }

.stack_img img:hover {
    cursor:pointer;
    animation : 0.5s ease-in-out infinite alternate itsme ;
    
}



@keyframes itsme {
    from { transform: scale(1.1);}
    to {transform: scale(1.5);}

}

/* section 4 */

.div4{
    margin-top : 20%;
    height : 180dvh;
}
.div4 h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    color : var(--police-color)
}

.allprojectlist { 
    display: grid ; 
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 15%;
    width : 100%;
    margin : auto;


}

.projectlistcontainer {
    display: flex;
    position : relative;
    justify-items: center;
    align-items: center;
    border: solid var(--main-color);
    width: 80dvh;
    height: 38dvh;
    margin : auto ; 
    justify-content: center;
    box-sizing: border-box;
}

.projet_presentation {
    padding: 10%;
    color: var(--police-color);
}

.bg_projet {
    position : absolute;
    top : 0;
    left : 0;
    width: 100%;
    height : 100%;
    z-index: -1;
    background-color: aqua;
    opacity: 1;
}

.bg_projet:hover {
    opacity: 0.25;
}


#Mythe_au_logis .bg_projet  {
    background-image: url(../../asset/img/mythe_au_logis.png);
    background-size: cover ;
}


#superhero_api .bg_projet {
    background-image: url(../../asset/img/SuperHeroAPI.PNG);
    background-size: cover;
}

#mokey_adventure .bg_projet {
    background-image: url(../../asset/img/MonkeyAdventure.PNG);
    background-size: cover;
}

#portfolio .bg_projet {
    background-image: url(../../asset/img/portefolio.PNG);
    background-size: cover;
}

#Dicosaurus .bg_projet {
    background-image: url(../../asset/img/dino_neutral3.PNG);
    background-size: cover;
}

#cozyNetwork .bg_projet {
    background-image: url(../../asset/img/cozynetwork\ preview.png);
    background-size: cover;
}

.project_name {
   position: relative; 
   display : flex;
   align-items: baseline;
   transition : opacity 3s 
}


.project_name h1 {
    z-index : 2;
    font-size: 6em;
    text-align: center;
}

.projet_stack {
    z-index : 1;
    display: flex;
    flex-direction: column;
    animation : 1.75s ease-in-out  forwards showstacks, 2s ease-in-out  forwards apparition;
    width: 100%; 
      
}
.projet_stack img {

    height: 60%;
    width : 60%;

}
.work_in_progress {
    position : absolute;
    display : flex; 
    flex-direction: column;
    padding : 5%;
    width: 20%;
    height: auto ;
    
}
.work_in_progress .txt {
    position : static;
    font-size: 0.8em ;
    padding : 10px;
    margin-left : 15%;
}

.work_in_progress img {
    height: 100px;
    width : 110px 
}

.project_name {
    align-items: center ;
    display: flex;
}

.project_name h1 {
    color : var(--police-color)
}

.bg_projet {
    transition : opacity 0.75s 
}
.projet_presentation {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 50px;
    width: 300%;
    height : 100%;
    z-index: 100;
    margin-left: 20%;
    color : var(--police-color)
    
}
.projet_presentation .txt {
    font-size: 1.2em;
    font-weight: 400;
}

.projet_presentation h2 {
    margin : 0 ; 

}

.work_in_progress .txt {
    color : var(--police-color)
}

.div5 {
    color: var(--police-color)
}
.div5 h1 {
    font-size: 4em;
    text-align: center;
}

.div5 p {
    text-align: center;
    font-size : 2em;
    padding: 5%;
}






.projet_presentation button {
    width : 70%
}

@keyframes showstacks {
    from { transform : translateX(0%)}
    to {transform : translateX(105%)}
  }

  @keyframes apparition {
    from { opacity : 0}
    to {opacity : 100}
  }






/* Pour cacher les éléments */

.hide {
    display: none
}