* {
    margin : 0;
    padding : 0 ;
}
body {
     overflow-x : hidden
}
.txt {
    font-size: 2em;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
}



section {
    height: 100vh ;
    width: 100%;
}

.headery {
    z-index: 20;
    display: inline-block ;
    padding: 1.4em ;
    position : fixed ;
    width : 100% ;
    background : linear-gradient(var(--main-color),var(--darkest-color)) ;
    height : 2.4em;
    box-shadow: 5px 0px 9px 14px var(--main-color);
}




.headery a {
    margin : 3em ;
    color: var(--lightest-color);
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    font-size: 1.7em;
    text-decoration: none;
}

.headerb a {
    margin : 3em ;
    padding-top: 3em;
    color:#9973BF;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    text-decoration: none;
}

.yellowTheme {
    background: linear-gradient(var(--lightest-color),var(--secondary-light-color),var(--main-color));
    color:var(--secondary-dark-color);

}

.blueTheme {

    background : linear-gradient(#9973BF,#1E2640,#324873) ;
    color : var(--police-color) ;

}

.landing_container{
    display:flex ;
    overflow-x: hidden ;
    margin-left: 8%;
}

.txt_container {
    overflow: visible;
    margin-left : 1em;
    margin-top: 5em ;
    font-family: 'Aloja-Light';
    font-optical-sizing: auto;
}

.img_container{
    margin-top : 4em ;
    margin-left: 10em;
}

h1 {
    font-size: 15em;
    font-weight: normal;
    font-family: 'foxlight';
    margin : 5%
}

h2 {
    font-family: "foxlight";
    font-weight: normal;

}


.div1 h2 {
    margin-left : 10em ;
    margin-bottom : 2em ;
    font-size : 1e.5m ;
    overflow : visible ;
    white-space: nowrap;
}

.div2 h2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 3em;
}

#me {
    height: 65%;
    width: auto;
    margin-top : 4em ;
    margin : 4em ;
    border-radius: 30% ;
    box-shadow : var(--darkest-color) 4em 2em 1em 0px;
    transition : opacity 0.4s ease-in-out ;
}

.div2 {
    padding-bottom: 15em ;
}
.contenu_a_propos {
    margin-top : 10em ;
    line-height: 4em;
    margin-left: 2em;
    margin-right: 1em;
}
.activities {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    flex-wrap: nowrap;

}
.passions {
    display : flex ;
    flex-direction: column;
    align-items : center ;
    justify-content: center;
    text-align: center;
    margin : 2em ;
    flex-wrap: nowrap;
    width: 25vh;



}


.passions img{
    height: 250px ;
    width: 250px ;
    border-radius: 50%;
    object-fit:cover;
    transition: opacity 0.6s ease transform  0.6s ;
    padding : 1em



}

.txt_under_img {
    text-align: center;
    white-space : nowrap ;
}

.ltxt {
    font-size: 1.3em ;
    font-family: 'Zain';
}

.txt_above_img h2 {
    font-size: 2.3em;
    text-align: center;
    bottom : 100% ;
    margin-left : 40% ;
    color : var(--police-color)

}

.div3 {
    display : flex ;
    flex-direction: column;
    align-items: center;
}

.display_button {
    width: 100dvw;
}

.ma_stack, .mes_outils, .mes_skills {
    display : flex ;
    position: relative ;
    flex-direction : column ;
    align-items: center;
    margin-top : 5% ;
    text-align: center ;
    /* margin-left : 20% */
    /* background-color: gold; */
}

.stack_img {
    display : flex ;
   justify-content: space-evenly;
   /* background-color: aqua; */
   width: 100%;

}

#pourlinstant {

    display : flex ;
   justify-content: space-evenly;
   width: 100%;

}

#pourlinstant  img {
    height: 200px ;
    max-width: 200px ;
    padding : 1em ;
    /* background-color: chartreuse; */

}

/* text commentaire stack */
#txt_js {
 z-index: 200;
}

.stack_txt{
    padding : 2em ;
    /* margin-left: 120% ; */
    width : 100dvh ;
    text-align: center ;
    font-size: 1.5em;
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    color : var(--police-color) ;
    /* background-color: rgb(222, 61, 195); */
}

.stack_txt h2 {
    color : var(--police-color)
}

.div3 .stack_img img {
    height: 150px ;
    max-width: 150px ;
    padding : 1em ;
    /* background-color: chartreuse; */

}

.button_list {
    display: flex;
    margin-top: 10em;
    width: 100dvw ;
    /* background-color: magenta; */
}



button {
    font-family: "Aloja-Light";
}

.button_list button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--lightest-color);
    font-size: 22px;
    border-radius: 20px;
    width: 15em;
    height: 4em;
    margin-left : auto ;
    margin-right : auto ;
    transition: 0.3s;
    background: linear-gradient(var(--main-color),var(--darkest-color));
    margin-bottom : 3em
  }

  .button_list button:hover {
    border-bottom-width: 0;
    animation : 1.3s ease-in-out  infinite alternate pickme

  }

  @keyframes pickme {
    from { transform : translateY(-10px)}
    to {transform : translateY(10px)}
  }

.stack_img img:hover {
    animation : 0.8s ease-in-out infinite alternate itsme
}

@keyframes itsme {
    from { transform: scale(1);}
    to {transform: scale(1.1);}

}



/* Pour cacher les éléments */

.hide {
    display: none
}