:root {
    --main-color: #8C4303;
    --lightest-color: #f2bf5e;
    --secondary-light-color: #D97F11;
    --secondary-dark-color: #40261D;
    --darkest-color: #0D0D0D;
    --police-color : white ; 
    
   
}

/* .blue_theme {
    --main-color:#324873;
    --lightest-color: #9973BF;
    --secondary-light-color:#1E2640;
    --secondary-dark-color:#111826;
    --darkest-color: #0D0D0D;
    --police-color : white
   
} */

