:root {
    --main-color: #ad5b13; 
    --lightest-color: #fadda7; 
    --secondary-light-color: #DC7E26;
    --secondary-dark-color: #421E00;
    --darkest-color: #0D0D0D;
    --police-color : black ;
    --police-color-light : #fcd587
    
   
}
