:root {
    --main-background-color: #f2bf5e; 
    --sub-background-color: #F0A447;
    --ter-background-color: #643309; 
    --contrast-color: #150c09;
    --shadow-color: #0D0D0D;
    --police-color : rgb(0, 0, 0) ;
    --police-color-light : #ffe8bd
    
   
}
