@font-face {
    /* font-family: Sunday Funday ;
    src: url(font/sunday_funday/Sunday\ Funday.ttf); */
/* 
    font-family: Madloud;
    src : url(font/tf_madloud/TF\ Madloud\ DEMO.ttf) */

    font-family :  Aloja-Light ;
    src: url(Aloja-Free-Font/Aloja-Light.otf)

}