@font-face {

    /* font-family : Tlakah ;
    src : url(./Talaka/tlakah.ttf) format('truetype'); */

    /* font-family : Harmony ;
    src : url(./BalletOfHarmony/Ballet\ Harmony.ttf) format('truetype'); */

    font-family: foxlight ;
    src : url(./foxlight/Foxlite\ Script.ttf) format('truetype')

}

@font-face {
    font-family :  Aloja-Light ;
    src: url(Aloja-Free-Font/Aloja-Light.otf) ;
}

